@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<h1>@ViewBag.time</h1>*@

@*<h1>@ViewBag.timeForCache</h1>*@

<h1>@ViewBag.callback</h1>

@{
    Product product = ViewBag.product as Product;
}

<h3>@product.Id => @product.Name => @product.Price</h3>